/*
 |--------------------------------------------------------------------------
 |  col
 |--------------------------------------------------------------------------
 */

@mixin make-col-padding($padding: true) {
  padding-left: 6px;
  padding-right: 6px;

  @include media('>=t') {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media('>=sd') {
    padding-left: 12px;
    padding-right: 12px;
  }

  @if $padding == false {
    padding-left: 0;
    padding-right: 0;

    @include media('>=t') {
      padding-left: 0;
      padding-right: 0;
    }

    @include media('>=sd') {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Shorthand Version
@mixin col-padding($args...) {
  @include make-col-padding($args...);
}
