/*
 |--------------------------------------------------------------------------
 |  Space
 |--------------------------------------------------------------------------
 */

@mixin make-space($properties: null, $factor: 1) {
  $factor: $factor * 2;

  @if ($properties != null) {
    @each $property in $properties {
      $space: 6px * $factor;
      #{$property}: $space;

      @include media('>=t') {
        $space: 10px * $factor;
        #{$property}: $space;
      }

      @include media('>=sd') {
        $space: 12px * $factor;
        #{$property}: $space;
      }
    }
  }
}

// Shorthand Version
@mixin space($args...) {
  @include make-space($args...);
}
