/*
 |--------------------------------------------------------------------------
 |  Row
 |--------------------------------------------------------------------------
 */

@mixin make-row($margin: true, $testing: false) {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;

  @include media('>=t') {
    margin-left: -10px;
    margin-right: -10px;
  }

  @include media('>=sd') {
    margin-left: -12px;
    margin-right: -12px;
  }

  @if $margin == false {
    margin-left: 0;
    margin-right: 0;

    @include media('>=t') {
      margin-left: 0;
      margin-right: 0;
    }

    @include media('>=sd') {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @if $testing == true {
    position: relative;
    margin-top: s(4);
    margin-bottom: s(4);
  }
}

// Shorthand Version
@mixin row($args...) {
  @include make-row($args...);
}
