// Create Classes
.fr-section {
  @include section();
}

.fr-section--fluid {
  @include section('fluid');
}

// Create Classes
.fr-row {
  @include row();
}

.fr-items-x-start,
%fr-items-x-start {
  justify-content: flex-start;
}

.fr-items-x-center,
%fr-items-x-center {
  justify-content: center;
}

.fr-items-x-end,
%fr-items-x-end {
  justify-content: flex-end;
}

.fr-items-x-around,
%fr-items-x-around {
  justify-content: space-around;
}

.fr-items-x-between,
%fr-items-x-between {
  justify-content: space-between;
}

.fr-items-y-start,
%fr-items-y-start {
  align-items: flex-start;
}

.fr-items-y-center,
%fr-items-y-center {
  align-items: center;
}

.fr-items-y-end,
%fr-items-y-end {
  align-items: flex-end;
}

.fr-items-y-stretch,
%fr-items-y-stretch {
  align-items: stretch;
}


[class^='fr-col'] {
  @include col-padding();
  position: relative;
  min-height: 1px;
  flex: 1 1 auto;
  max-width: none;
}

[class^='fr-col'].no-padding {
  @include col-padding(false);
}

@each $key, $item in $fr-grid-settings {
  $from: map-get($item, from);
  $cols: map-get($item, cols);

  @media screen and (min-width: #{$from}) {
    .fr-col-offset-#{$key}-0 {
      @include offset(0, $cols, false);
    }

    @for $i from 1 through $cols {
      .fr-col-#{$key}-#{$i} {
        @include col($i, $cols, true, false);
      }

      .fr-col-offset-#{$key}-#{$i} {
        @include offset($i, $cols, false);
      }
    }
  }
}
