/*
 |--------------------------------------------------------------------------
 |  Border Radius
 |--------------------------------------------------------------------------
 */

$border-radius-level-0: 0px;
$border-radius-level-1: 2px;
$border-radius-level-2: 4px;
$border-radius-level-3: 6px;
$border-radius-level-4: 8px;

$fr-borderradius: (
  'none':   $border-radius-level-0,
  '1':      $border-radius-level-1,
  '2':      $border-radius-level-2,
  '3':      $border-radius-level-3,
  '4':      $border-radius-level-4,
);
