/*
 |--------------------------------------------------------------------------
 |  Colors
 |--------------------------------------------------------------------------
 */

$fr-colored: (
  'gray': (
    'base': #A0A0A1,
    'silver': #F8F8F8,
    'light': #E2E3E5,
    'raven': #737477,
    'medium': #4D4E51,
    'dark': #1A1919,
  ),
  'blue': (
    'base': #22346F,
    'dark': #001E3C,
    'navy': #000F1E,
  ),
  'accent': (
    'base': #DB0840,
    'red': #DB0840,
    'orange': #F2940A,
    'yellow': #FAD50A,
    'blue': #0A86CB,
  ),
  'interaction': (
    'base': #DB0840,
    'hover': #F30B47,
    'active': #C30939,
  ),
);


/*
 |--------------------------------------------------------------------------
 |  Shades of gray
 |--------------------------------------------------------------------------
 */

$fr-grayShades: (
        'white': (
                'base': #fff,
                'dark': mix(#000, #fff, 10%),
                'trans': rgba(#fff, 0.5),
        ),
        'black': (
                'base': #000,
                '05': mix(#000, #fff, 5%),
                '10': mix(#000, #fff, 10%),
                '15': mix(#000, #fff, 15%),
                '20': mix(#000, #fff, 20%),
                '25': mix(#000, #fff, 25%),
                '30': mix(#000, #fff, 30%),
                '35': mix(#000, #fff, 35%),
                '40': mix(#000, #fff, 40%),
                '45': mix(#000, #fff, 45%),
                '50': mix(#000, #fff, 50%),
                '55': mix(#000, #fff, 55%),
                '60': mix(#000, #fff, 60%),
                '65': mix(#000, #fff, 65%),
                '70': mix(#000, #fff, 70%),
                '75': mix(#000, #fff, 75%),
                '80': mix(#000, #fff, 80%),
                '85': mix(#000, #fff, 85%),
                '90': mix(#000, #fff, 90%),
                '95': mix(#000, #fff, 95%),
                'trans': rgba(#000, 0.5),
        )
);

// Merge Gray Shades and Colored Map
$fr-colors: map-merge($fr-colored, $fr-grayShades);
