/*
 |--------------------------------------------------------------------------
 |  Font Sizes
 |--------------------------------------------------------------------------
 */


// Dependencies
@import '~modularscale-sass/stylesheets/modularscale';

// Settings
$fr-baseFontSizePx: 16px;
$fr-baseFontSizeMaxPx: 20px;
$fr-baseLineHeight: 1.5;

// Modular Scale Settings
$modularscale: (
  base: $fr-baseFontSizePx,
  ratio: $major-third,
  $fr-minWidth: (
    base: $fr-baseFontSizePx,
  ),
  $fr-maxWidth:  (
    base: $fr-baseFontSizeMaxPx,
  )
);
