/*
 |--------------------------------------------------------------------------
 |  Box Shadow
 |--------------------------------------------------------------------------
 */

$box-shadow-level-0:        none;
$box-shadow-level-1:        0 8px 16px 0 rgba(0, 0, 0, 0.12);
$box-shadow-level-2:        0 16px 32px 0 rgba(0, 0, 0, 0.12);

$fr-boxshadows: (
  'none':     $box-shadow-level-0,
  '1':        $box-shadow-level-1,
  '2':        $box-shadow-level-2,
);
