/*
 |--------------------------------------------------------------------------
 |  Colors
 |--------------------------------------------------------------------------
 */

$fr-colored: (
  'blue': (
    'base': #00A7E3,
    'var1': #0081B0,
    'var2': #006E96,
    'var3': #005C7D,
  ),
  'black-pearl': (
    'base': #030C12,
    'var1': #071525,
    'var2': #0A192B,
    'var3': #0D2038,
  ),
  'grey': (
    'base': #F7F6F7,
    'var1': #DEDEDE,
    'var2': #C4C4C4,
    'var3': #ABABAB,
  ),
  'text': (
    'base': #2D353B,
    'var1': #464A4D,
    'var2': #7C8287,
    'var3': #BCC5CC,
  ),
);


/*
 |--------------------------------------------------------------------------
 |  Shades of gray
 |--------------------------------------------------------------------------
 */

$fr-grayShades: (
        'white': (
                'base': #fff,
                'dark': mix(#000, #fff, 10%),
                'trans': rgba(#fff, 0.5),
        ),
        'black': (
                'base': #000,
                '05': mix(#000, #fff, 5%),
                '10': mix(#000, #fff, 10%),
                '15': mix(#000, #fff, 15%),
                '20': mix(#000, #fff, 20%),
                '25': mix(#000, #fff, 25%),
                '30': mix(#000, #fff, 30%),
                '35': mix(#000, #fff, 35%),
                '40': mix(#000, #fff, 40%),
                '45': mix(#000, #fff, 45%),
                '50': mix(#000, #fff, 50%),
                '55': mix(#000, #fff, 55%),
                '60': mix(#000, #fff, 60%),
                '65': mix(#000, #fff, 65%),
                '70': mix(#000, #fff, 70%),
                '75': mix(#000, #fff, 75%),
                '80': mix(#000, #fff, 80%),
                '85': mix(#000, #fff, 85%),
                '90': mix(#000, #fff, 90%),
                '95': mix(#000, #fff, 95%),
                'trans': rgba(#000, 0.5),
        )
);

// Merge Gray Shades and Colored Map
$fr-colors: map-merge($fr-colored, $fr-grayShades);
