/*
 |--------------------------------------------------------------------------
 |  Box Shadow
 |--------------------------------------------------------------------------
 */

$background-0:            transparent;
$background-gradient:     linear-gradient(-180deg, rgba(0,15,30,0.00) 0%, rgba(0,15,30,0.37) 44%, rgba(0,15,30,0.67) 100%);
$background-overlay:      rgba(0,15,30,0.40);

$fr-backgrounds: (
  'none':       $background-0,
  'gradient':   $background-gradient,
  'overlay':   $background-overlay,
);
